#BigSlider{
	position:relative;
	width:100%;
	height:630px;
	overflow: hidden;
}
#BigSlider > #BigSliderItems{
	width: 200%;
	height: 100%;	
	display: flex;
	justify-content: center;
	gap: 25px;
	flex-flow: row wrap;
	position: relative;
	transition: 0.5s;
	left: 0;
	color: #000;
}
#BigSlider > #BigSliderItems > .Items1{box-shadow: 8px 8px 10px #000;}
#BigSlider > #BigSliderItems > .Items1{
	width:7.3%;
	height:35%;
	border-radius: 50%;
	margin-top: 20px;
	cursor: pointer;
}
#BigSlider > #BigSliderItems > .Items1:hover > img{transform: scale(110%);}
#BigSlider > #BigSliderItems > .Items1 > img{
	width:100%;
	height:100%;
	border-radius: 50%;
	transition: 0.5s;
	overflow: hidden;
}
#BigSlider > #BigSliderItems > .Items1 > p{
	margin: 0;
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	font-family: Open Sans,Roboto,Arial,Helvetica,sans-serif,SimSun;
	color: inherit;
}
#BigSlider:hover > #ButtonRight1,#BigSlider:hover > #ButtonLeft1{display: block;}
#BigSlider > #ButtonRight1:hover,#BigSlider > #ButtonLeft1:hover{
    cursor: pointer;
    background-color: #0000009d;
}
#BigSlider > #ButtonRight1{
	position:absolute;
	top:280px;
	right:0;
	border-radius: 25px;
	background:#0000007a url("../BigSliderImg/Right.png") no-repeat 50%;
	background-size:70%;
	width:32px;
    height:64px;
	cursor:pointer;
	display: none;
}
#BigSlider > #ButtonLeft1{
	position:absolute;
	top:280px;
	left:0;
	border-radius: 25px;
	background:#0000007a url("../BigSliderImg/Left.png") no-repeat 50%;
	background-size:70%;
	width:32px;
    height:64px;	
	cursor:pointer;	
	display: none;
}
		/* Responsive */
@media (max-width:1200px){
	#BigSlider > #BigSliderItems{gap: 15px;}
	#BigSlider > #BigSliderItems > .Items1 > p{font-size: 16px;}
}
@media (max-width:850px){
	#BigSlider > #BigSliderItems{gap: 8px;}
	#BigSlider > #BigSliderItems > .Items1 > p{font-size: 14px;}
}
@media (max-width:750px){
	#BigSlider > #BigSliderItems > .Items1{width: 11.3%; height: 22%;}
	#BigSlider > #BigSliderItems{gap: 2px;}
	#BigSlider > #BigSliderItems > .Items1 > p{font-size: 10px;}
}
@media (max-width:430px){
	#BigSlider{width: 300px;}
	#BigSlider > #BigSliderItems{width: 200%;}
}